@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0;
}
/* font style */
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-1 {
    color: #181818;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    color: white;

}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}

/* header style */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;

}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    max-width: 586px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-profile-pic {
    width: 580px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 120px;
    margin-bottom: 120px;
}
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
.about-container{
    width: 827px;
    background-color: white;
    border: 1px solid  black;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-size: 20px;
}
.item-description{
    font-weight: 700;
    font-size: 20px;
}

/* skills styles */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-title{
    width: 909px;
    margin-top:118px ;
    margin-bottom: 50px;
    /* background-color: aqua; */
    
}

.skills-container{
    display: flex;
    gap: 24px;
    /* justify-content: space-between; */
    
}
.skill{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-container img{
    padding: 30px;
}
.skill-title{
    padding:30px 30px 0px 30px;
}
.skill-description{
    padding: 30px;
}

/* resume section style */
/* .section-title{

} */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;  
}

.resume-container{
    display: flex;
    gap: 71px;
    margin-top: 110px;
}

.experience{
    margin-top: 30px;
}

.experience-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
}
.experience-subtitle{
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.experience-description{
    color: #757575;
    font-size: 16px;
    padding-right: 30px;
}

.resume hr{
    margin: 30px 0px;
}

.resume button{
    margin-top: 50px;
}

/* footer section styels */
footer{
    margin-top: 113px;
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}

footer .section-title{
    margin-bottom: 28px;
}

footer .section-description{
    margin-bottom: 30px;
}

footer input[type="text"],footer input[type="email"] {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    padding:5px 30px ;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 24px;
}
footer textarea{
    border-radius: 5px;
    background-color: white;
    color: #757575;
    padding:5px 30px ;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

footer .social-media{
    display: flex;
    gap: 24px;
}
/* .footer-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
} */